<div class="center-container">
    <div class="board container">
        <div class="board__down row">
            <div class="board__left col-sm-3">
                <div class="board__push-btn-north">
                    <button class="push-button"></button>
                </div>
                <div class="board__push-btn-west">
                    <button class="push-button"></button>
                </div>
                <div class="board__push-btn-east">
                    <button class="push-button"></button>
                </div>
                <div class="board__rotary">
                    <div class="rotary" tabindex="-1"></div>
                </div>
                <div class="board__push-btn-south">
                    <button class="push-button"></button>
                </div>
            </div>
            <div class="board__center col-sm-6">
                <canvas class="lcd"></canvas>
            </div>
            <div class="board__right col-sm-3">
                <div class="board__led row">
                    <span class="led"></span>
                    <span class="led"></span>
                    <span class="led"></span>
                    <span class="led"></span>
                    <span class="led"></span>
                    <span class="led"></span>
                    <span class="led"></span>
                    <span class="led"></span>
                </div>
                <div class="board__switches row">
                    <div class="switch-button">
                        <input id="sw1" type="checkbox" class="switch-button__checkbox">
                        <label for="sw1" class="switch-button__label"></label>
                    </div>
                    <div class="switch-button">
                        <input id="sw2" type="checkbox" class="switch-button__checkbox">
                        <label for="sw2" class="switch-button__label"></label>
                    </div>
                    <div class="switch-button">
                        <input id="sw3" type="checkbox" class="switch-button__checkbox">
                        <label for="sw3" class="switch-button__label"></label>
                    </div>
                    <div class="switch-button">
                        <input id="sw4" type="checkbox" class="switch-button__checkbox">
                        <label for="sw4" class="switch-button__label"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="console-container">
        <div id="console" class="console color-800 row" tabindex="-1"></div>
    </div>
</div>