<div class="file-manager">
    <ul class="file-manager__container">
        <li class="file-manager__item">
            <div class="file-manager__file color-100">
                <i class="fa fa-file"></i>
                <span class="file-manager__item-name">file1.bit</span>
                <span class="file-manager__rename pull-right"><i class="fa fa-pencil"></i></span>
            </div>
        </li>
        <li class="file-manager__item">
            <div class="file-manager__file color-100">
                <i class="fa fa-file"></i>
                <span class="file-manager__item-name">file2.bit</span>
                <span class="file-manager__rename pull-right"><i class="fa fa-pencil"></i></span>
            </div>
        </li>
    </ul>
</div>