<div class="settings">
    <div class="choose-board">
        <div class="form-group">
            <label class="col-xs-12" for="choose-board">Плата</label>
            <div>
                <div class="col-sm-8 col-md-8">
                    <select name="choose-board" id="choose-board" class="choose-board__select form-control"></select>
                </div>
                <div class="col-sm-2 col-md-2 col-xs-6 choose-board__control">
                    <i title="обновить" class="fa fa-refresh fa-2x choose-board__update"></i>
                </div>
                <div class="col-sm-2 col-md-2 col-xs-6 choose-board__control">
                    <i title="освободить" class="fa fa-sign-out fa-2x choose-board__leave"></i>
                </div>
            </div>
        </div>
    </div>
</div>
