<div class="video" id="video-player">
    <img src="/img/video-wrapper.png" alt="" class="video__img">
    <div class="video__play-btn">
        <span class="fa fa-play video__play-ico fa-4x"></span>
        <span class="fa fa-pause video__pause-ico fa-4x"></span>
    </div>
</div>
