<div class="modal fade" tabindex="-1" role="dialog" id="admin_popup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <div class="container-fluid modal-form__content">
                        <div class="row">
                            <div class="form-group">
                                <label for="id">Label 1</label>
                                <input type="text" id="id" name="id" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="id2">Label 2</label>
                                <input type="text" id="id2" name="id2" class="form-control">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary btn-save">Сохранить</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->